.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }
 
    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.site-content {

    h1, h2, h3 {
        @apply text-primary font-comet text-4xl lg:text-title lg:leading-title;
    }

    h4 {
        @apply font-comet text-2xl text-menu lg:text-5xl;
    }

    .title-logo {
        background-image: url(../assets/img/title-logo.svg);

        @apply bg-no-repeat bg-contain inline-block w-36 h-14 -mt-4 -mb-6 lg:-mb-4 lg:w-96 lg:h-28;

        & span {
            @apply hidden
        }
    }

    /* BTN's */

    .btn1 {
        background-image: url(../assets/img/btn1.svg);
        background-size: 100% 100%;
        @apply inline-block bg-no-repeat bg-center text-center font-comet text-secondary border-0 hover:text-bgpage;

        &.inactive {
            @apply opacity-30 pointer-events-none !important;
        }
    }

    .btn2 {
        background-image: url(../assets/img/btn2.svg);
        background-size: 100% 100%;
        @apply inline-block bg-no-repeat bg-center text-center font-comet text-bgpage border-0 hover:text-secondary;
    }

    /* Swiper */

    .swiper {
        @apply w-full h-52 lg:h-[500px];
    }

    .swiper-slide {
        @apply text-center flex justify-center items-center cursor-pointer;
    }

    .swiper-slide img {
        object-fit: cover;
        @apply block w-full h-full rounded-[2rem];
    }

    /* Circles */

    .svg-circle {
        @apply bg-circle rounded-full w-40 h-40 p-5 inline-flex justify-center mb-6;
    }

}

    /* Icons */

    .icon-eth {
        background-image: url(../assets/img/icons/icon-eth.svg);
    }

    .icon-tw {
        background-image: url(../assets/img/icons/icon-twitter.svg); 
    }

    .icon-tg {
        background-image: url(../assets/img/icons/icon-telegram.svg);
    }

    .icon-ds {
        background-image: url(../assets/img/icons/icon-discord.svg);
    }

    .icon-eth, .icon-tw, .icon-tg, .icon-ds {
        @apply inline-block bg-no-repeat bg-contain;

        & i {
            @apply hidden;
        }
    }

    /* ANIMATION */

    .hole {
            background-image: url(../assets/img/main-animation/hole.png);
            @apply absolute bg-no-repeat bg-contain bg-bottom overflow-hidden;

        & .sign {
            @apply mx-auto transition-all delay-500 duration-1000 mb-1;
        }

        & .obj-hide {
            @apply translate-y-full mb-0;
        }

        & .obj-show {
            @apply translate-y-0;
        }

        & .sign-animation {
            animation: wiggle 2.5s infinite;
            animation-delay: 1.5s;
            @apply origin-bottom;
        }

        & .wombat {

            @apply absolute h-[97.5%] w-full transition-all duration-200;

            & .body0, & .body1 {
                background-position: center bottom;
                @apply bg-contain bg-no-repeat;
            }

            & .body0 {
                background-image: url(../assets/img/main-animation/wave.gif);
                @apply h-full ml-2;
            }

            & .body1 {
                background-image: url(../assets/img/main-animation/butt2.gif);
                @apply w-[88%] h-full
            }

        }

    }
    
        @keyframes wiggle {
            0% {transform: rotate(0deg);}
            25% {transform: rotate(-5deg);}
            50% {transform: rotate(7deg);}
            75% {transform: rotate(-3deg);}
            100% {transform: rotate(0deg);}
          }

    .divider {
        background-image: url(../assets/img/line1.svg);
        background-size: 100% 100%;
        @apply bg-no-repeat bg-center mx-auto w-4/5 h-6 lg:container lg:h-6 ;
    }


    .faq-grid {
        @apply lg:px-52 !important;
    }

    .accordion {
        & .accordion-item {
          @apply border-solid border-primary border-b px-2 lg:px-10 lg:py-6;
        }
        & button {

          @apply relative block text-left w-full py-4 px-0 border-0 bg-none outline-none hover:cursor-pointer focus:cursor-pointer font-normal;

          & .icon {
            @apply inline-block absolute top-4 right-0 w-3 h-10 lg:w-10;

            &::before {
              content: '';
              @apply bg-primary block absolute top-[9px] left-[5px] h-1 w-3
            }
            &::after {
              content: '';
              @apply bg-primary block absolute top-[5px] left-[9px] w-1 h-3
            }
          }

          & .accordion-title {
              @apply block pr-6 lg:pr-10;
          }

        }
        button[aria-expanded='true'] {
          .icon {
            &::after {
              width: 0;
            }
          }
          + .accordion-content {
            opacity: 1;
            transition: all 200ms linear;
            will-change: opacity, max-height;
            @apply max-h-[50em] lg:max-h-[26em];
          }
        }
        .accordion-content {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: opacity 200ms linear, max-height 200ms linear;
          will-change: opacity, max-height;
          p {
            @apply mb-6 pr-2 lg:pr-20;
          }
        }
      }

      /* MINT HEADER */

      .hole-number {
              text-shadow: -2px -2px 0 #37271B, 2px -2px 0 #37271B, -2px 2px 0 #37271B, 2px 2px 0 #37271B;
              @apply absolute text-sm font-bold lg:text-6xl; 
          }
